html {
    background-color: black;
    color: white;
}

body {
    width: 100%;
}

h1 {
    font-family: monospace;
    white-space: pre;
    display: flex;
}

h2 {
    margin: 2rem;
    size: 1.5rem;
}

label {
    color: #F9D71C;
}

.terminal {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.help {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.discription {
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.text {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

ul {
    margin-bottom: 1.5rem;
}

li {
    margin-bottom: 1.5rem;
}

li>span {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.link{
    margin-left: 1rem;
}

.title {
    margin-left: 2rem;
    color: #F9D71C;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

textarea {
    background-color: black;
    border: none;
    font-weight: bold;
    outline: none;
    resize: none;
    overflow: hidden;
    height: 1rem;
    caret-color: #F9D71C;
}

a {
    color: blue;
}

#searchbar {
    color: #F9D71C;
    width: 75%;
    font-size: 0.85rem;
  }