html {
    background-color: black;
    color: white;
}

body {
    width: 100%;
}

h1 {
    font-family: monospace;
    white-space: pre;
    display: flex;
}

h2 {
    margin: 2rem;
    size: 1.5rem;
}

.terminal {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.help {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.discription {
    margin-left: 4rem;
    margin-bottom: 2rem;
}

.text {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.link {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.title {
    margin-left: 2rem;
    color: #F9D71C;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

textarea {
    background-color: black;
    border: none;
    font-weight: bold;
    outline: none;
    resize: none;
    height: 0.8rem;
    caret-color: #F9D71C;
    overflow-y: visible;
}

#searchbar {
    color: #F9D71C;
}